@light-base = lighten( @pl-base, @invert-light + 5  );

.pin-meta a, .pin-meta, .fetchlink a, .fetchlink a:hover{
	color: fadeout(@pl-text, 60%);
}
.pin-meta .divider{
	color: fadeout(@pl-text, 85%);
}

.postpin{
	background: @light-base; 
	border: 1px solid lighten(@light-base, 4);
}